body {
	font-family: 'iranyekan' !important;
	font-feature-settings: "ss01" !important;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.apexcharts-tooltip .apexcharts-tooltip-y-group {
	margin-right: 10px !important;
	font-family: 'iranyekan' !important;
}

.apexcharts-text {
	font-family: 'iranyekan' !important;
}

.apexcharts-tooltip-title {
	font-family: 'iranyekan' !important;
}

._9w8d5 {
	font-family: 'iranyekan' !important;
}

.apexcharts-legend-text {
	margin-right: 10px !important;
	font-family: 'iranyekan' !important;
}

.pishkhan-font,
.pishkhan-font button,
.pishkhan-font input,
.pishkhan-font textarea,
.pishkhan-font select {
	font-family: 'iranyekan', sans-serif !important;
	font-feature-settings: "ss01" !important;
}
