node_modules
**/node_modules
.next
**/.next
.git
.github
.turbo
**/.turbo
vendor
**/vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
*.log
.env
**/.env
!.env.example
.DS_Store
docs
infrastructure/traefik/certificates
.pnpm-store/
node_modules
.vscode