@font-face {
    font-family: 'WeblogmaYekan';
    src: url('WeblogmaYekan.eot');
    src: url('WeblogmaYekan.eot?#iefix') format('embedded-opentype'),
        url('WeblogmaYekan.woff2') format('woff2'),
        url('WeblogmaYekan.woff') format('woff'),
        url('WeblogmaYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WeblogmaYekan';
    src: url('WeblogmaYekan_1.eot');
    src: url('WeblogmaYekan_1.eot?#iefix') format('embedded-opentype'),
        url('WeblogmaYekan_1.woff2') format('woff2'),
        url('WeblogmaYekan_1.woff') format('woff'),
        url('WeblogmaYekan_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YekanWeb';
    src: url('YekanWeb-Regular.eot');
    src: url('YekanWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('YekanWeb-Regular.woff2') format('woff2'),
        url('YekanWeb-Regular.woff') format('woff'),
        url('YekanWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

